.pager li .active {
    color: #fff;
    background: #286090 !important;
}
p.error-msg{
    font-weight: bold;
    color: red;
}
.form-gap{
    margin-top: 5%;
}
.fa-thumbs-o-up{
	font-size: 20px;
	color: #337ab7;
}
a.no-underline{
	text-decoration: none;
}
.fa-thumbs-up{
	font-size: 15px;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	background: #337ab7;
	color: #fff;
	text-align: center;
	padding: 4px;
}